<% include partials/header %>
<div class="container">
    <%if (error && error.length>0){%>
    <div class="alert alert-danger" role="alert">
        <%=error%>
    </div>
    <%}%>
    <%if (success && success.length>0){%>
    <div class="alert alert-success" role="alert">
        <%=success%>
    </div> 
    <%}%>
</div>
<h1>Home page</h1>
<% include partials/footer %>