<% include partials/header2 %>
<div class="container">
    <%if (error && error.length>0){%>
    <div class="alert alert-danger" role="alert">
        <%=error%>
    </div>
    <%}%>
    <%if (success && success.length>0){%>
    <div class="alert alert-success" role="alert">
        <%=success%>
    </div> 
    <%}%>
</div>

<h1>This is the secret page!!!!</h1>
<img src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
<% include partials/footer %>